ul {
    list-style-type: none;
    background-color: red;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    text-decoration: none;
    color: white;
    text-transform: capitalize;
    padding: 10px;
    font-family: Arial;
    font-size: 20px;
    display: block;
    position: relative;
}

li a:hover {
    background-color: black;
    color: orangered;
}

.dropdown {
    display: inline-block;
}

.contents {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: blue;
}

.dropdown:hover .contents {
    display: block;
}

.contents a:hover {
    background-color: purple;
    color: yellow;
}


  .container {
    position: relative;
    width: 400px;
  }

  .container img {
    width: 100%;
    height: auto;
    display: block;
  }

  .text-overlay {
    position: absolute;
    top: 20px;
    left: 20px;
    background: orange; /* dark background with transparency */
    color: black;
    padding: 30px;
    border: none;
    z-index: 1;
    border-radius: 9px;
  }